<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="stash" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
        <host>a1054f6e-973d-4131-8f32-b42ae5022c08-ls.logit.io</host>
        <!-- port is optional (default value shown) -->
        <port>18623</port>
        <!-- layout is required -->
        <layout class="net.logstash.logback.layout.LogstashLayout"/>
    </appender>
    <root level="info">
        <appender-ref ref="stash" level="trace" />
    </root>
</configuration>